body{
	width: 100%;height: 100%;padding: 0;margin: 0;
	background: rgb(229,236,242);
	
}
ul li {
	list-style: none
}
/*头部*/
.nav_container{
	background: url(../img/bj1.jpg);
	opacity: 0.8;
	
}
.nav_text{
	
	margin: auto;
	width: 100%;
	text-align: center;
			
	font-size: 16px;
	
	
}
.headImg{
	width: 70px;
	height: 70px;
	border: 1px solid #337AB7;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	
}
.user_name{
	float: left;
	margin-left: 2%;
	margin-top: 10px;
}

/*导航栏*/
.avtive_list{
	border-bottom: 3px solid burlywood;
	margin-bottom: -2px;
	
	
}
.nav_list{
	margin-top: 1%;
}
.nav_list_top{
	border-bottom: 2px lightblue solid;
}
.nav_list_top ul>li{
	float: left;
	margin-left: 2%;
	cursor: pointer;
	
}
.photos{
	margin-top: 2%;
}

